.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--contrast-color);
  color: var(--text-color);
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); */
}
.about > * {
  flex-basis: 500px;
}

.about-text {
  margin: 3rem;
}

.about-image {
  width: 25%;
  margin: 3rem;
}

Img {
  border-radius: 50%;
}
