:root {
  --background-color: white;
  /* --contrast-color: #d12d3b; */
  --contrast-color: #a4d66c;
  --text-color: white;
  /* --text-color-contrast: #b92935; */
  --text-color-contrast: var(--contrast-color);

  font-family: "Comic Sans MS";
}

main {
  /* background-color: rgb(31, 30, 30); */
}
